.form-context-fixed {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000000a0;
}

.context-box {
  width: 20em;
  min-height: 6em;
  overflow: hidden;
  margin: 4em auto 0;
  background: ghostwhite;
}

.context-box header {
  display: flow-root;
  border-bottom-style: groove;
}

.header-context-box > * {
  margin: 10pt;
}

.header-context-box p {
  float: left;
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
}

.header-context-box button {
  float: right;
}

.header-context-box span:hover {
  color: blue;
  font-weight: bold;
}

.fixed-box {
  margin: 0px;
  padding: .5em;
  display: grid;
}

.fixed-box p {
  margin: 0;
  display: initial;
}

.fixed-box table {
  width: 100%;
}

.fixed-box table tr {
  height: 2em;
}

.fixed-box input[type=text] {
  float: right;
}

.fixed-box input[type=date] {
  float: right;
}

.fixed-box form {
  margin: 0;
  float: left;
}

.fixed-box select {
  width: 10em;
  float: right;
  margin: 0 0 0 2em;
}
