body {
  margin: 0;
}

.m {
  margin: 0 auto;
}

.box-font {
  border: 2px solid #bbb;
  border-radius: 4pt;
  background-color: ghostwhite;
}

.container {
  width: 60em;
  margin: 0 auto;
  padding: 2em 0 0;
}

.container-hidden {
  width: 100%;
  max-height: 30.5em;
  overflow: auto;
}

#header span {
  font-size: 17px;
  font-weight: bold;
  font-family: monospace;
  margin: 1em 0 1em 1em;
  padding: 0 0.5em 0 0;
  border-right: 2px solid #bbb;
  background-color: ghostwhite;
  display: inline-block;
}

#header p {
  margin: 1em .5em;
  display: inline-block;
  background-color: ghostwhite;
}

#header form {
  float: right;
  margin: 1em 1em 1em 0;
}

#buttons {
  margin: 0 auto;
  padding: .5em 1em;
}

#buttons input {
  margin: 0 .5em;
}

#buttons input:not([disabled]):hover {
  box-shadow: 2px 2px 2px;
}

#buttons-option {
  margin: 0 auto;
  padding: .5em 1em;
}

#buttons-option input[type=button] {
  height: 2em;
  margin: 0 .5em;
}

#buttons-option input[type=button]:hover {
  box-shadow: 2px 2px 2px;
}

.data-sort {
  display: flex;
  border-width: 1px;
  border-radius: 3px;
  border-style: outset;
  border-color: darkgray;
  background-color: whitesmoke;
}

.data-sort p {
  float: left;
  margin: 5px 1em;
  cursor: context-menu;
  font: 400 13.333px Arial;
}

.data-sort input {
  border: 0;
  width: 16em;
  height: 2em;
  text-align: center;
  border-radius: 0 3px 3px 0;
  border-left: 1px solid darkgray;
}

.table-box {
  min-height: 2em;
  padding: .5em;
}

#table {
  width: 100%;
  border-collapse: collapse;
}

#table td {
  min-width: 3em;
  max-width: 10em;
  padding: 0.5em;
  overflow: hidden;
  border: 1px solid #000;
}

/* Colors for title table. */
#table > tr:first-child > td {
  color: black;
  cursor: context-menu;
  background-color: #eee;
  font-size: 17px;
  font-weight: bold;
  font-family: monospace;
}

#table tr:hover {
  cursor: pointer;
  transition: .5s;
  background-color: #2b45e221;
}
