.context-box {
    min-height: 2em;
    transition: .5s;
    margin: 1em 0 0 1em;
    display: inline-block;
}

.context-box p {
    padding: .5em;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
}