body, p {
  margin: 0;
}

section {
  width: 100%;
  height: 100%;
  position: fixed;
}

.box-font {
  border: ridge;
  border-radius: 4pt;
  background-color: ghostwhite;
}

.form-login {
  padding: 1em;
  display: table;
  margin: 15% auto 0;
}

.form-login p {
  margin: 0 auto;
  text-align: center;
}

.form-login form {
  display: grid;
  margin: .5em 0 0;
}

.form-login input[type=text] {
  margin: .5em 0 0;
}

.form-login input[type=password] {
  margin: .5em 0 0;
}

.form-login input[type=submit] {
  margin: 1em 0 0;
}

.form-login input[type=button] {
  width: 100%;
  margin: 1em 0 0;
}
