.container-user {
  width: 20em;
  max-height: 24em;
  float: left;
  display: flex;
}

.container-selected-user {
  width: 20em;
  float: left;
  margin: 0 0 .7em 0;
}

.container-logs {
  width: 37em;
  float: right;
}

#table-logs, #table-selected-user {
  width: 100%;
  border-collapse: collapse;
}

#table-logs td {
  min-width: 3em;
  max-width: 10em;
  padding: 0.5em;
  overflow: hidden;
  border: 1px solid #000;
}

/* Colors for title table. */
#table-logs > tr:first-child > td {
  color: black;
  cursor: context-menu;
  background-color: #eee;
  font-size: 17px;
  font-weight: bold;
  font-family: monospace;
}

#table-logs tr:hover {
  cursor: pointer;
  transition: .5s;
  background-color: #2b45e221;
}

#table-selected-user td {
  min-width: 3em;
  max-width: 10em;
  padding: 0.5em;
  overflow: hidden;
  border: 1px solid #000;
}

#table-selected-user > tr:first-child > td {
  color: black;
  cursor: context-menu;
  background-color: #eee;
  font-size: 17px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}

#table-selected-user tr:hover {
  cursor: pointer;
}
